<!-- Inicio educacionModal  -->
<div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Educacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- inicio interior educacion -->
                <div class="mb-3 mt-4">
                    <label for="educacionModalinfo1" class="form-label">Ingrese título<span style="color:#9A93B0;"><em>
                                Ej: Licenciada en Enconomía</em></span></label>
                    <input type="text" class="form-control" id="educacionModalinfo1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 mt-4">
                    <label for="educacionModalinfo2" class="form-label">Ingrese establecimiento
                        educativo<span style="color:#9A93B0;"><em> Ej: Universidad de Buenos
                                Aires</em></span></label>
                    <input type="text" class="form-control" id="educacionModalinfo2" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 mt-4">
                    <label for="periodoUno" class="form-label">Ingrese año obtención del título<span
                            style="color:#9A93B0;"><em> Ej:
                                1989</em></span></label>
                    <input type="text" class="form-control" id="periodoUno" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin educacionModal -->