<app-navbar-dashboard></app-navbar-dashboard>

<div class="presentacion pt-5 container-fluid text-left">
        <div class="row">
                <div class="col-1">
                        <!--Margen izquierdo-->
                </div>
                <div class="col-2 enlaces pt-1">
                        <!--Enlaces del margen izquierdo-->
                        <img src="../../../assets/img/NDF.jpg" alt="Foto perfil"
                                class="rounded-circle img_fluid w:90rem " />
                        <h6 class="text-left mt-1"><strong>Norma D. Fernández </strong></h6>

                        <ul class="list-group mt-4">

                                <li class="list-group-item"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#redesModal" class="link mt-5"><i
                                                        class="fa-solid fa-share-nodes"></i> Redes Sociales</a></li>


                                <li class="list-group-item"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#bannerModal" class="link mt-5"><i
                                                        class="fa-solid fa-image"></i> Banner</a></li>

                                <li class="list-group-item"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#presentacionModal" class="link"><i
                                                        class="fa-solid fa-circle-info"></i> Presentación</a></li>


                                <li class="list-group-item"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#experienciaModal" class="link mt-5"><i
                                                        class="fa-sharp fa-solid fa-person-digging"></i> Experiencia</a>
                                </li>

                                <li class="list-group-item"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#educacionModal" class="link mt-5"><i
                                                        class="fa-solid fa-user-graduate"></i> Educacion</a></li>

                                <li class="list-group-item"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#habilidadesModal" class="link"><i
                                                        class="fa-solid fa-hands"></i> Habilidades</a>
                                </li>
                                <li class="list-group-item"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#proyectosModal" class="link mt-5"><i
                                                        class="fa-sharp fa-solid fa-person-digging"></i> Proyectos</a>
                                </li>


                                <li class="list-group-item"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#piepaginaModal" class="link"><i
                                                        class="fa-solid fa-arrows-down-to-line"></i> Footer</a></li>


                                <!-- cierre de la lista -->

                                <!-- Item vacio de la lista para que quede mas prolijo -->
                                <li class="list-group-item"><a href="#" data-bs-toggle="modal" data-bs-target="#"
                                                class="link"><i class="fa-thin fa-period"></i></a></li>
                        </ul>
                </div>

                <app-redes-sociales></app-redes-sociales>
                <app-banner></app-banner>
                <app-presentacion-modal></app-presentacion-modal>
                <app-experiencia-modal></app-experiencia-modal>
                <app-habilidades-modal></app-habilidades-modal>
                <app-educacion-modal></app-educacion-modal>
                <app-proyectos-modal></app-proyectos-modal>
                <app-piepagina></app-piepagina>

                <app-footer></app-footer>
        </div>
</div>