<!--Inicio menu -->
<nav class="navbar fixed-top navbar-dark bg-dark  navbar-expand-lg ">
  <div class="container-fluid">
    <!--Logo ArgentinaPrograma -->
    <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img
        src="../../../assets/img/APLogo-20-20.png" alt="Argentina Programa" width="150rem"> </a>
    <!--Botones -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Menu Colapsable -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Educacion">Educación </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Habilidades">Habilidades </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Proyectos">Proyectos </a>
        </li>
      </ul>
    </div>

    <app-redes></app-redes>
    <app-boton-login></app-boton-login>
    
  </div>
</nav>