<!-- Inicio habilidadesModal -->
<div class="modal fade" id="habilidadesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Habilidades</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- inicio interior experiencia -->
                <div class="mb-3 mt-4">
                    <label for="habilidadesModalinfo1" class="form-label">Ingrese habilidad a modificar
                        <span style="color:#9A93B0;"><em> Ej: SQL</em></span></label>
                    <input type="text" class="form-control" id="habilidadesModalinfo1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 mt-4">
                    <label for="habilidadesModalinfo2" class="form-label">Modificar Porcentaje (Escala 0-100)<span
                            style="color:#9A93B0;"><em></em></span></label>
                    <input type="text" class="form-control" id="habilidadesModalinfo2" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin habilidadesModal -->