<!-- Inicio bannerModal -->
<div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Banner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- inicio formulario banner -->
                <div class="container">
                    <div class="row">
                        <div class="col-1">

                        </div>
                        <div class="col-10">
                            <div class="mb-3">
                                <label for="banner" class="form-label">Seleccione la imagen : El archivo
                                    debe
                                    llamarse "banner3.jpg"</label>
                                <input class="form-control" type="file" id="banner">
                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
                <!-- Fin formulario banner -->
            </div>
        </div>
    </div>
</div>
<!--Fin bannerModal -->