<!-- Inicio piepaginaModal -->
<div class="modal fade" id="piepaginaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Footer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- inicio formulario footer textos -->
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <form>
                                <div class="mb-3">
                                    <label for="info1" class="form-label">Ingrese texto para el footer.
                                        Ej: <span style="color:#9A93B0;"><em> &#169; Norma DF 2022 - TP
                                                Argentina Programa </em></span></label>
                                    <input type="text" class="form-control" id="info1" aria-describedby="emailHelp">
                                </div>
                                <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                                <button type="button" class="btn btn-warning">Actualizar</button>
                            </form>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
                <!-- Fin formulario footer  -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar</button>-->
            </div>
        </div>
    </div>
</div>
<!--Fin piepaginaModal -->