<!-- Inicio proyectosModal  -->
<div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Proyectos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- inicio formulario proyecto 1 foto -->
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <div class="mb-3">
                                <label for="banner" class="form-label">Seleccione la imagen : El archivo
                                    debe
                                    llamarse "Proyecto1.jpg"</label>
                                <input class="form-control" type="file" id="banner">
                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
                <hr>
                <!-- Fin formulario proyecto 1 foto  -->
                <!-- inicio formulario proyecto 1 textos -->
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <form>
                                <div class="mb-3">
                                    <label for="info1" class="form-label">Ingrese texto linea 1 <span
                                            style="color:#9A93B0;"><em>Ej: Informaci n de
                                                Faena</em></span></label>
                                    <input type="text" class="form-control" id="info1" aria-describedby="emailHelp">
                                </div>
                                <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                                <button type="button" class="btn btn-warning">Actualizar</button>
                                <div class="mb-3">
                                    <label for="info2" class="form-label">Ingrese texto linea 2 <span
                                            style="color:#9A93B0;"><em>Ej: Informes realizados a partir
                                                de bases de datos SQL</em></span></label>
                                    <input type="text" class="form-control" id="info2" aria-describedby="emailHelp">
                                </div>
                                <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                                <button type="button" class="btn btn-warning">Actualizar</button>
                                <div class="mb-3">
                                    <label for="info3" class="form-label">Ingrese texto linea 3 <span
                                            style="color:#9A93B0;"><em> Ingrese link a la p gina del
                                                Proyecto</em></span></label>
                                    <input type="text" class="form-control" id="info3" aria-describedby="emailHelp">
                                </div>
                                <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                                <button type="button" class="btn btn-warning">Actualizar</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
            <!-- Fin formulario proyecto1  -->
        </div>
    </div>
</div>
<!--Fin proyectosModal 1 -->