<nav class="navbar fixed-top navbar-dark bg-dark  navbar-expand-lg ">
    <div class="container-fluid">
        <!--Logo ArgentinaPrograma -->
        <a class="navbar-brand" href="index.html"><img src="../../../assets/img/APLogo-20-20.png" alt="Argentina Programa" width="150rem">
        </a>
        <!--Botones -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- barra navegacion-->
        <ul class="navbar-nav  ms-auto mb-2 mb-lg-0 text-light">
            <app-boton-logout></app-boton-logout>
            <!--  Boton de Inicio de sesion direcciona al login
            <button type="button" class="btn ">
                          <li class=" nav-item col-md-auto p3 ">
                  <a class=" nav-link active" aria-current="page" href="login.html">
                <i class="fa-solid fa-user "></i>
                <small class="d-md-none ms-2">Login</small></a>
                </li>
            </button>-->
        </ul>
    </div>
</nav>
