<!-- Columna central: Modales -->
<div class="col-8">
    <!-- Inicio redesModal -->
    <div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Redes Sociales</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- inicio de formulario en el modal -->
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-10">
                                <form>
                                    <div class="mb-3">
                                        <label for="github" class="form-label">Ingrese URL para GITHUB <span
                                                style="color:#9A93B0;"><em>Ej:
                                                    https://github.com/user</em></span></label>
                                        <input type="url" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <button type="button mb-2" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                    <button type="button" class="btn btn-warning">Actualizar</button>
                                    <div class="mb-3">
                                        <label for="twitter" class="form-label mt-4">Ingrese URL para
                                            TWITTER <span style="color:#9A93B0;"><em>Ej:
                                                    https://twitter.com/AgriculturaAR...</em></span></label>
                                        <input type="url" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <button type="button mb-5" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                    <button type="button" class="btn btn-warning">Actualizar</button>
                                    <div class="mb-3">
                                        <label for="instagram" class="form-label mt-4">Ingrese URL para
                                            INSTAGRAM <span style="color:#9A93B0;"><em>Ej:
                                                    www.instagram.com/agriculturaar/?hl=es</em></span></label>
                                        <input type="url" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                    <button type="button" class="btn btn-warning">Actualizar</button>
                                </form>
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin redesModal -->